body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.c-brown {
  color: #c75;
}

.t-shadow {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.flex-1 {
  flex: 1;
}
